---
import PageLayout from "@/layouts/Base.astro";

const meta = {
	description: "Thoughts, big and small.",
	title: "About",
};
---

<PageLayout meta={meta}>
	<h1 class="title mb-12">About</h1>
	<div class="prose prose-sm prose-cactus max-w-none">
		<p>
			This is a blog of thoughts, big and small. Projects will get occasional entries, but blog posts about them may largely stay in their own focused blogs.
		</p>
		<p>
			Small projects, one-offs, personal learnings, and some political/economic content.
		</p>
	</div>
</PageLayout>
